# Scraping Google Trends data using capstone keywords

In [1]:
# import libraries/modules
import pandas as pd
pd.set_option('future.no_silent_downcasting', True)
from pytrends.request import TrendReq
pytrends = TrendReq(hl='en-US', tz=360, timeout=(40,25))
import json

## Load the keyword dictionary

In [3]:
file1 = open('data/gdp_cat_queries_dict.json')
cat_topics_dict = json.load(file1)
cat_topics_dict.values()

In [4]:
cat_topics_dict

{'569': ['cineplex', 'cinema'],
 '23': ['dance', 'theatre'],
 '47': ['honda', 'ford'],
 '815': ['ford', 'honda'],
 '170': ['license', 'driving'],
 '249': ['blue cross', 'desjardins'],
 '71': ['pizza pizza', 'pizza'],
 '276': ['restaurant', 'restaurants'],
 '634': ['clinic', 'dr'],
 '250': ['hospital', 'hopital'],
 '168': ['fire', 'emergency'],
 '437': ['depression', 'anxiety'],
 '11': ['home depot', 'ikea'],
 '29': ['mls', 'real estate'],
 '96': ['remax', 'real real'],
 '18': ['kijiji', 'walmart'],
 '67': ['hotel', 'air canada'],
 '179': ['hotel', 'hotels'],
 '5': ['google', 'apple'],
 '68': ['shoes', 'boots'],
 '78': ['xbox', 'videotron'],
 '696': ['or', 'bijoux'],
 '329': ['acces d', 'cra'],
 '95': ['staples', 'desk'],
 '423': ['bankruptcy', 'hollywoodpq'],
 '279': ['credit', 'mortgage'],
 '1160': ['business', 'pret'],
 '813': ['student', 'tuition'],
 '466': ['mortgage', 'calculator'],
 '468': ['lease', 'calculator'],
 '46': ['farm', 'plant'],
 '750': ['forest', 'forestry'],
 '747': ['salmon', 'fish'],
 '121': ['circulaire', 'iga'],
 '123': ['cigarettes', 'smoke'],
 '697': ['shoes', 'boots'],
 '1176': ['printing', 'vistaprint'],
 '1268': ['gas', 'gas prices'],
 '288': ['bottle depot', 'plastic'],
 '248': ['pharmacy', 'side effects'],
 '30': ['hp', 'kingston'],
 '287': ['generator', 'valve'],
 '612': ['oscar', 'car wash'],
 '13': ['google', 'mail'],
 '31': ['java', 'windows'],
 '7': ['rbc', 'td'],
 '38': ['insurance', 'desjardins'],
 '969': ['lawyer', 'law'],
 '477': ['architecture', 'architects'],
 '25': ['marketing', 'circulaire'],
 '380': ['vet', 'animal hospital'],
 '1010': ['vacations', 'voyage'],
 '726': ['acces', 'acces d'],
 '76': ['canada', 'passport'],
 '74': ['school', 'college'],
 '256': ['clinic', 'dr'],
 '508': ['chomage', 'assurance emploi'],
 '20': ['nhl', 'hockey'],
 '1199': ['ordre', 'abstract'],
 '144': ['hair removal', 'laser'],
 '748': ['tractor', 'deere'],
 '48': ['construction', 'doors'],
 '255': ['clinique', 'clinique médicale'],
 '50': ['canada', 'tracking'],
 '664': ['logistics', 'distribution'],
 '60': ['jobs', 'job'],
 '802': ['jobs', 'developer'],
 '621': ['canning', 'kraft'],
 '1140': ['boat', 'kayak'],
 '841': ['superstore', 'walmart'],
 '289': ['trailers', 'trucks'],
 '665': ['ship', 'traversier'],
 '662': ['air', 'air france'],
 '354': ['canada', 'customs'],
 '666': ['rail', 'railway'],
 '1150': ['canada', 'tracking'],
 '277': ['beer', 'lcbo'],
 '650': ['doors', 'portail'],
 '651': ['bridge', 'pont'],
 '652': ['contractors', 'contracting'],
 '158': ['home depot', 'paint'],
 '1143': ['netflix', 'dvd'],
 '70': ['gift', 'birthday'],
 '271': ['vacuum', 'appliances'],
 '270': ['furniture', 'ikea'],
 '794': ['garmin', 'gps'],
 '233': ['hydro', 'gas'],
 '473': ['auto', 'cars'],
 '1339': ['carpool', 'ride'],
 '932': ['fifa', 'madden'],
 '882': ['dog', 'pet'],
 '94': ['yoga', 'fitness'],
 '293': ['wedding', 'bridal'],
 '205': ['car rental', 'taxi'],
 '208': ['niagara falls', 'toronto'],
 '1081': ['rentals', 'cottage'],
 '73': ['walmart', 'store'],
 '1188': ['garmin', 'gps'],
 '185': ['fashion', 'louis vuitton'],
 '610': ['truck', 'ford'],
 '206': ['cruise', 'cruises'],
 '1003': ['backpack', 'luggage'],
 '918': ['pizza pizza', 'pizza'],
 '355': ['livres', 'librairie'],
 '145': ['spa', 'massage'],
 '894': ['theatre', 'macbeth'],
 '960': ['emploi', 'quebec emploi'],
 '961': ['resume', 'cover letter'],
 '378': ['rent', 'for rent'],
 '465': ['insurance', 'home insurance'],
 '1164': ['survival', 'economist'],
 '784': ['finance', 'dow'],
 '1209': ['news', 'bbc'],
 '396': ['election', 'election results'],
 '408': ['toronto', 'news'],
 '832': ['flooring', 'carpet'],
 '952': ['pool', 'piscine'],
 '1139': ['td', 'monnex'],
 '107': ['stock', 'tsx'],
 '903': ['ttc', 'rrsp'],
 '343': ['sql', 'access'],
 '77': ['paypal', 'sql'],
 '278': ['tax', 'tva'],
 '1300': ['omnivox', 'cegep'],
 '730': ['git', 'github'],
 '341': ['salesforce', 'crm'],
 '334': ['expo', 'exhibition'],
 '314': ['security', 'avg'],
 '718': ['outsourcing', 'accenture'],
 '728': ['server', 'servers'],
 '1162': ['cra', 'cra login'],
 '53': ['godaddy', 'domain'],
 '342': ['erp', 'dashboard'],
 '1159': ['management', 'project'],
 '1214': ['trailers', 'trucks'],
 '670': ['homemade', 'potash'],
 '12': ['acces d', 'canada post'],
 '566': ['fabric fabric', 'fabric'],
 '672': ['glue', 'epoxy'],
 '673': ['couleur', 'couleurs'],
 '49': ['covid', 'manufacturing']}

## Get all the keywords and create a list

In [6]:
# 
keywords = [keyword for sublist in cat_topics_dict.values() for keyword in sublist]
len(keywords)

282

## Remove duplicates from a list

In [37]:
keywords = list(set(keywords))
len(keywords)

243

## Define the chunk size and split the list into chunks

In [42]:
# Define the chunk size
chunk_size = 15

# Split the list into chunks
chunks = [keywords[i:i + chunk_size] for i in range(0, len(keywords), chunk_size)]

len(chunks)

17

## Name each chunk

In [49]:
# Name each chunk as chunk_i starting from 1
for i, chunk in enumerate(chunks, 1):
    globals()[f'chunks{i}'] = chunk

## Define a function fetches the Google Trend data

In [57]:
def fetch_trends_in_batches(chunks,
                            batch_size=1,
                            cat=0, 
                            timeframe='2004-01-01 2024-03-31', 
                            geo='MU', 
                            gprop=''):
    
    pytrends = TrendReq(hl='en-US', tz=360, timeout=(40, 25))
    
    all_data = []
    num_batches = -(-len(chunks) // batch_size)  # Calculate number of batches
    
    for i in range(num_batches):
        start_idx = i * batch_size
        end_idx = (i + 1) * batch_size
        
        batch_keywords = chunks[start_idx:end_idx]
        
        pytrends.build_payload(batch_keywords, cat=cat, 
                               timeframe=timeframe,
                               geo=geo, 
                               gprop=gprop)
        data = pytrends.interest_over_time()
        
        all_data.append(data)

    combined_data = pd.concat(all_data, axis=1)
    return combined_data

## Store combined dataframes in a dictionary

In [63]:
combined_data_dict = {}

batch_size = 1
for i in range(1, len(chunks) + 1):
    chunks = globals()[f'chunks{i}']
    combined_data_dict[f'combined_data{i}'] = fetch_trends_in_batches(chunks, 
                                                                      batch_size=batch_size, 
                                                                      cat=0, 
                                                                      timeframe='2004-01-01 2024-03-31', 
                                                                      geo='MU', 
                                                                      gprop='')
    len(combined_data_dict)

## Combine and stored the dataframes

In [72]:
# Determine the number of dataframes stored in combined_data_dict
num_dataframes = len(combined_data_dict)

# Initialize an empty list to store dataframes
dataframes = []

# Loop through the keys to access each dataframe
for i in range(1, num_dataframes + 1):
    key = f'combined_data{i}'
    if key in combined_data_dict:
        dataframes.append(combined_data_dict[key])

# Concatenate the dataframes along the date index
combined_df = pd.concat(dataframes, axis=1)

combined_df = combined_df.loc[:, ~combined_df.columns.str.endswith('isPartial')]

# Reset index to make date index
combined_df.reset_index(inplace=True)

# Drop duplicate date columns
combined_df = combined_df.loc[:, ~combined_df.columns.duplicated()]

# Set date column as index
combined_df.set_index('date', inplace=True)

combined_df

,depression,construction,fashion,jobs,bbc,domain,avg,forest,pizza pizza,hotels,...,college,covid,developer,distribution,real estate,portail,dashboard,election results,appliances,architecture
date,,,,,,,,,,,,,,,,,,,,,
2004-01-01,0,0,0,100,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2004-02-01,0,0,0,0,0,0,0,0,0,0,...,0,70,0,0,0,0,0,0,0,0
2004-03-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2004-04-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2004-05-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-11-01,3,16,17,16,48,23,0,44,73,12,...,17,3,8,8,25,6,74,0,45,24
2023-12-01,3,15,18,16,48,18,0,80,87,10,...,27,6,14,6,33,6,75,2,0,15
2024-01-01,4,15,12,19,45,14,0,54,70,9,...,30,3,18,7,33,7,70,0,42,25
2024-02-01,3,20,12,21,36,22,0,76,73,10,...,27,2,19,7,30,6,84,1,0,30
2024-03-01,3,20,13,16,36,17,0,67,73,9,...,22,2,13,9,38,4,89,1,40,28

## Export the dataframe

In [73]:
# Export the data to a CSV file
combined_df.to_csv('data/gt_MU_capstone.csv')